*, *::before, *::after {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

/*nav stuff starts here */

nav {
	height: 10vh;
}

.logo-responsive {
	display: none;
}

.nav-links {
	margin: 0;
	padding: 0;
	background: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}


.logo {
	color: white;
	margin-right: 20%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	text-decoration: none;
	color: white;
}

/*hero image for the landing page*/

.landing-hero {
	background-image: url('img/hero.jpeg');
	background-size: cover;
	height: 90vh;
	width: 100%;
	background-position: 8% 50%;
}

@media screen and (max-width: 768px) {
	
	nav {
		position: relative;
		background: black;
	}

	.hamburger {
		position: absolute;
		cursor: pointer;
		z-index: 2;		
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
	}

	.line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}

	.nav-links {
		position: fixed;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -30%);
		-webkit-clip-path: circle(100px at 90% -30%);
		transition: all 1s ease-out;
	}

	.nav-links.open {
		clip-path: circle(1600px at 90% -30%);
		-webkit-clip-path: circle(1600px at 90% -30%);
	}

	.logo-responsive {
		display: block;
		color: white;
		position: absolute;
		z-index: 2;
		left: 5%;
		top: 50%
		transform: translate(-5%, -50%);
		cursor: pointer;
	}

	.logo {
		display: none;
	}

	.nav-links li {
		opacity: 0;
	}

	.nav-links li:nth-child(1){
		
	}

	.nav-links li:nth-child(2){
		transition: all .5s ease .3s;
	}

	.nav-links li:nth-child(3){
		transition: all .5s ease .5s;
	}

	.nav-links li:nth-child(4){
		transition: all .5s ease .7s;
	}	

	.nav-links li:nth-child(5){
		transition: all .5s ease .9s;
	}	

	li.fade {
		opacity: 1;
	}
	

}


























