*, *::before, *::after {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

/*nav stuff starts here ======================================*/

.navbar {
	background: black;
	  min-height: 85px;
	  height: auto !important;	
}



/*hero for landing page ==============================*/


.landing-hero {
	background-image: url('img/hero.jpeg');
	background-size: cover;
	height: 90vh;
	width: 100%;
	background-position: 20% 50%;
}


/*start of the about section===========================*/

.about {
	height: 100vh;
	width: 100%;
	padding: 5%;
	display: flex;
	background: black;
}

.about-left-section {
	width: 30%;
}

.techniques-heading {
	color: white;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.techniques-heading:before,
.techniques-heading:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
    color: white;
}

.techniques-heading:after {
    margin: 0 0 0 20px;
    color: white;
}



.about-text {
	color: white;
	margin-top: 30%;
	line-height: 2;
}

.about-right-section {
	background-image: url('img/shop1.jpeg');
	background-position: 39% 50%;
	background-size: cover;
	height: auto;
	width: 60%;
	margin-left: 10%;
}

/*start of the services section===========================*/

.services {
	height: 100vh;
	background: black;
	display: flex;
	flex-direction: column;
	padding: 6% 5% 5% 5%;
}

.book-now-btn {
	height: 3rem;
	font-size: 22px;
	text-transform: uppercase;
	width: 230px;
	color: white;
	border: 2px solid white;
	text-align: center;
	line-height: 3rem;
	text-decoration: none;
	margin: 0 auto;
	margin-bottom: 5%;
	border-radius: 15px;
	background: rgba(0,0,0,.6);
	transition: all .5s ease;
}

.book-now-btn:hover {
	background: black;
}

.services {
	background: url('img/true_grit2.jpeg');
	background-size: cover;
	background-position: center;

}

.services-menu {
	padding: 2%;
	height: 70%;
	width: 70%;
	background: rgba(0,0,0,.5);
	border: 2px solid white;
	margin: 0 auto;
	display: flex;
}

.inner-services-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.inner-services-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	font-size: 14px;
}

.inner-heading-services {
	
}

.inner-paragraph-services {
	
}


/*beginning of the contact section================================*/

.contact {
	height: 100vh;
	width: 100%;
	background: black;
	padding: 5%;
	display: flex;	
}

.contact-container {
	
}

.contact-left-photo {
	background-image: url('img/guill_smiling.jpeg');
	background-size: cover;
	background-position: 17% 50%;
	height: auto;
	width: 49%;
}

.contact-right-info {
	width: 47%;
	margin-left: 4%;
	background: black;
	color: white;
	display: flex;
	flex-direction: column;
}

.contact-us-heading {
	color: white;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contact-us-heading:before,
.contact-us-heading:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
    color: white;
}

.contact-us-heading:after {
    margin: 0 0 0 20px;
    color: white;
}

.contact-headings {
	margin: 0;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.contact-ul {
	margin: 0;
	padding: 0;
	margin-left: 30px;
}

.contact-ul li {
	list-style: none;
	margin: 0;
}

.contact-right-info p {
	margin: 0;
	margin-left: 30px;
}

@media screen and (max-width: 1024px) {
	
	/*start of the about section for 1024px===========================*/

	.about {
		height: 100vh;
		width: 100%;
		padding: 5%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		background: black;
	}

	.about-left-section {
		height: 30%;
		width: 100%;
		align-self: center;
	}

	.techniques-heading {
		/*display: none;*/
		margin-top: 0;
		font-size: 30px;
	}




	.about-text {
		color: white;
		margin: 0;
		font-size: 20px;
	}

	.about-right-section {
		background-image: url('img/shop1.jpeg');
		background-position: center;
		background-size: cover;
		height: auto;
		height: 60%;
		width: 100%;
		margin: 0;
	}

	/*start of the services section 1024px===========================*/

	.services {
		height: 100vh;
		background: black;
		display: flex;
		flex-direction: column;
		padding: 6% 5% 5% 5%;
	}

	.book-now-btn {
		height: 4rem;
		font-size: 30px;
		text-transform: uppercase;
		width: 300px;
		color: white;
		border: 2px solid white;
		text-align: center;
		line-height: 4rem;
		text-decoration: none;
		margin: 0 auto;
		margin-bottom: 18%;
		margin-top: 4%;
		background: rgba(0,0,0,.6);
	}

	.book-now-btn:hover {
		background: rgba(0,0,0,1);
	}

	.services {
		background: url('img/true_grit2.jpeg');
		background-size: cover;
		background-position: center;

	}

	.services-menu {
		padding: 2%;
		height: 70%;
		width: 100%;
		background: rgba(0,0,0,.5);
		border: 2px solid white;
		margin: 0;
		display: flex;
	}

	.inner-services-container {
		width: 100%;
		height: 100%;
	}

	.inner-services-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		font-size: 14px;
	}

	.inner-heading-services {
		font-size: 20px;
		letter-spacing: 1.5px;
	}

	.inner-paragraph-services {
		font-size: 20px;
		letter-spacing: 1.5px;
	}

/*beginning of the contact section 1024px================================*/

	.contact {
		height: 100vh;
		width: 100%;
		background: black;
		padding: 5%;
		display: flex;
		flex-direction: column;	
	}

	.contact-container {
		
	}

	.contact-left-photo {
		background-image: url('img/guill_smiling.jpeg');
		background-size: cover;
		background-position: 17% 50%;
		height: 50%;
		width: 100%;
		order: 1;
	}

	.contact-right-info {
		order: 2;
		width: 100%;
		margin-left: 0;
		background: black;
		color: white;
		display: flex;
		flex-direction: column;
	}

	.contact-us-heading {
		color: white;
		width: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
		order: 0;
		font-size: 30px;
	}

	.contact-us-heading:before,
	.contact-us-heading:after {
	    content: '';
	    border-top: 2px solid;
	    margin: 0 20px 0 0;
	    flex: 1 0 20px;
	    color: white;
	}

	.contact-us-heading:after {
	    margin: 0 0 0 20px;
	    color: white;
	}	

	.inner-contact-container {
		display: flex;
		justify-content: space-around;
	}

	.contact-headings {
		margin: 0;
		margin-left: 0;
		margin-top: 30px;
		margin-bottom: 35px;
		text-align: center;
		font-size: 22px;
	}

	.contact-ul {
		margin: 0;
		padding: 0;
		margin-left: 0;
	}

	.contact-ul li {
		list-style: none;
		margin: 0;
		font-size: 20px;
	}

	.contact-right-info p {
		margin: 0;
		margin-left: 0;
		font-size: 20px;
	}		

}





@media screen and (max-width: 768px) {


@media screen and (max-width: 550px) {


/*hero for landing page 550px ==============================*/


.landing-hero {
	background-image: url('img/hero.jpeg');
	background-size: cover;
	height: 90vh;
	width: 100%;
	background-position: 25% 50%;
}	
	
/*start of the about section for 550px===========================*/

	.about {
		height: 100vh;
		width: 100%;
		padding: 5%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		background: black;
		font-size: 15px;
	}

	.about-left-section {
		height: 30%;
		width: 100%;
		align-self: center;
	}

	.techniques-heading {
		margin-top: 0;
		font-size: 22px;
	}




	.about-text {
		color: white;
		margin: 0;
		line-height: normal;
		font-size: 16px;
	}

	.about-right-section {
		background-image: url('img/shop1.jpeg');
		background-position: 20% 50%;
		background-size: cover;
		height: auto;
		height: 50%;
		width: 100%;
		margin: 0;
	}

	/*start of the services section 550px===========================*/

	.services {
		height: 100vh;
		background: black;
		display: flex;
		flex-direction: column;
		padding: 6% 5% 5% 5%;
	}

	.book-now-btn {
		height: 3rem;
		font-size: 22px;
		text-transform: uppercase;
		width: 300px;
		color: white;
		border: 2px solid white;
		text-align: center;
		line-height: 3rem;
		text-decoration: none;
		margin: 0 auto;
		margin-bottom: 10%;
		margin-top: 4%;
		background: rgba(0,0,0,.6);
	}

	.book-now-btn:hover {
		background: rgba(0,0,0,1);
	}

	.services {
		background: url('img/true_grit2.jpeg');
		background-size: cover;
		background-position: center;

	}

	.services-menu {
		padding: 2%;
		height: 90%;
		width: 100%;
		background: rgba(0,0,0,.5);
		border: 2px solid white;
		margin: 0;
		display: flex;
	}

	.inner-services-container {
		width: 100%;
		height: 100%;
	}

	.inner-services-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		font-size: 14px;
	}

	.inner-heading-services {
		font-size: 16px;
		letter-spacing: 1.5px;
	}

	.inner-paragraph-services {
		font-size: 16px;
		letter-spacing: 1.5px;
	}		

/*beginning of the contact section 550px================================*/

	.contact {
		height: 100vh;
		width: 100%;
		background: black;
		padding: 5%;
		display: flex;
		flex-direction: column;	
	}

	.contact-container {
		
	}

	.contact-left-photo {
		background-image: url('img/guill_smiling.jpeg');
		background-size: cover;
		background-position: 17% 50%;
		height: 50%;
		width: 100%;
		order: 1;
	}

	.contact-right-info {
		order: 2;
		width: 100%;
		margin-left: 0;
		background: black;
		color: white;
		display: flex;
		flex-direction: column;
	}

	.contact-us-heading {
		color: white;
		width: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
		order: 0;
		font-size: 22px;
	}

	.contact-us-heading:before,
	.contact-us-heading:after {
	    content: '';
	    border-top: 2px solid;
	    margin: 0 20px 0 0;
	    flex: 1 0 20px;
	    color: white;
	}

	.contact-us-heading:after {
	    margin: 0 0 0 20px;
	    color: white;
	}		

	.inner-contact-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.contact-headings {
		margin: 0;
		margin-left: 0;
		margin-top: 10px;
		margin-bottom: 10px;
		letter-spacing: 1px;
		text-align: center;
		font-size: 20px;
	}

	.contact-ul {
		margin: 0;
		text-align: center;
		font-size: 16px;
	}

	.contact-ul li {
		list-style: none;
		display: flex;
		justify-content: center;
		font-size: 16px;
	}

	.contact-right-info p {
		margin: 0;
		margin-left: 0;
		font-size: 16px;
		text-align: center;
	}		

}

@media screen and (max-width: 320px) {
	
	.techniques-heading {
		margin-bottom: 5%;
	}

	.about-left-section {
		margin-bottom: 5%;
	}

	.about-text {
		font-size: 15px;
	}

	/*start of the services section 320===========================*/

	.services {
		height: 100vh;
		background: black;
		display: flex;
		flex-direction: column;
		padding: 6% 5% 5% 5%;
	}

	.book-now-btn {
		height: 3rem;
		font-size: 22px;
		text-transform: uppercase;
		width: 230px;
		color: white;
		border: 2px solid white;
		text-align: center;
		line-height: 3rem;
		text-decoration: none;
		margin: 0 auto;
		margin-bottom: 10%;
		background: rgba(0,0,0,.6);
	}

	.book-now-btn:hover {
		background: rgba(0,0,0,1);
	}

	.services {
		background: black;
		background-size: cover;
		background-position: center;

	}

	.services-menu {
		padding: 2%;
		height: 80%;
		width: 100%;
		background: rgba(0,0,0,.5);
		border: 2px solid white;
		margin: 0 auto;
		display: flex;
	}

	.inner-services-container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.inner-services-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
	}

	.inner-heading-services {
		font-size: 15px;
	}

	.inner-paragraph-services {
		font-size: 15px;
	}	


	
}




















